{% extends 'base.html.twig' %}

{% block title %}Prestataire index{% endblock %}

{% block body %}
    <h1>Prestataire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomentreprise</th>
                <th>Ninea</th>
                <th>Numregistre</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prestataire in prestataires %}
            <tr>
                <td>{{ prestataire.id }}</td>
                <td>{{ prestataire.nomentreprise }}</td>
                <td>{{ prestataire.ninea }}</td>
                <td>{{ prestataire.numregistre }}</td>
                <td>{{ prestataire.adresse }}</td>
                <td>{{ prestataire.telephone }}</td>
                <td>{{ prestataire.email }}</td>
                <td>{{ prestataire.statut }}</td>
                <td>
                    <a href="{{ path('prestataire_show', {'id': prestataire.id}) }}">show</a>
                    <a href="{{ path('prestataire_edit', {'id': prestataire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prestataire_new') }}">Create new</a>
{% endblock %}
