{% extends 'base.html.twig' %}

{% block title %}Prestataire{% endblock %}

{% block body %}
    <h1>Prestataire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prestataire.id }}</td>
            </tr>
            <tr>
                <th>Nomentreprise</th>
                <td>{{ prestataire.nomentreprise }}</td>
            </tr>
            <tr>
                <th>Ninea</th>
                <td>{{ prestataire.ninea }}</td>
            </tr>
            <tr>
                <th>Numregistre</th>
                <td>{{ prestataire.numregistre }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ prestataire.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ prestataire.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ prestataire.email }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ prestataire.statut }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('prestataire_index') }}">back to list</a>

    <a href="{{ path('prestataire_edit', {'id': prestataire.id}) }}">edit</a>

    {{ include('prestataire/_delete_form.html.twig') }}
{% endblock %}
